:root {
    /* Font */
--main-font: Roboto, sans-serif;
--secondary-font: Raleway, sans-serif;
    /* Colors */
--primary-brand: #4D5AE5;
--pressed-state: #404BBF;
--dark: #2E2F42;
--success: #31D0AA;
--success-75: rgba(49, 208, 170, 0,75);
--success-50: rgba(49, 208, 170, 0,50);
--success-10: rgba(49, 208, 170, 0,10);
--text: #434455;
--subtle-text: #8E8F99;
--accent: #E7E9FC;
--light: #F4F4FD;
--modal-overlay: #2E2F42;
--hero-background: #2E2F42;
--background-white: #FFFFFF;
--white-text: #FFFFFF;

/* Others */
--indent: 24px;
--items: 4;
}

body {
   background-color: var(--background-white);
   color:var(--text);
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0.02em;
}
 
/* RESET START */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    min-width: 320px;
    max-width: 428px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; 
   
    
    /* outline: 2px solid red;
    outline-offset: -2px; */
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

.page {
  overflow: hidden;
}

/* RESET END */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* CARD SET */
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    justify-content: space-around;
}

.card-set-item {
    flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items));
}

/* HEDER SECTION */

.main-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--accent);
    background-color: var(--background-white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .main-header {
    padding-top: 0px;
    padding-bottom: 0px;
    }
}

.header-container{
    display: flex;
    align-items: center;
    
}

.nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    height: 22px;
    color: var(--dark);
    font-weight: 800;
    font-size: 18px;
    font-family: var(--secondary-font);
    line-height: 1.33;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        margin-right: 76px;
    }
}

.accent-logo {
    color: var(--primary-brand);
    
}

.menu {
    display: none;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .menu {
    display: flex;
    gap: 40px;
}
}

.menu-link.current::after {
    content: "";
    position: absolute;
    bottom: 0;


    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--pressed-state);
}

.menu-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--modal-overlay);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state);
}

.menu-item .current {
    color: var(--pressed-state);
}

.mail {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--text);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 1.3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
     .mail{
   font-size: 16px;  
   line-height: 1.5;
}
}

.phone {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--text);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 1.3;
}

@media screen and (min-width: 1200px) {
     .phone{
   font-size: 16px;  
   line-height: 1.5;
}
}
.mail:hover,
.mail:focus {
    color: var(--pressed-state);
}

.contact {
    display: none;
    gap: 40px;   
}

@media screen and (min-width: 768px) {
    .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    gap: 4px;
    justify-content: flex-end;
}
}

@media screen and (min-width: 1200px) {
     .contact {
    display: flex;   
    flex-direction: row;
    gap: 40px;
}
}

/* HERO SECTION */

.hero {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--hero-background);
   
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/backg/bg_mob@1x.jpg);
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/backg/bg_mob@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/backg/bg_tab@1x.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/backg/bg_tab@2x.jpg);
  }
}
}

@media screen and (min-width: 769px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 108px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/backg/bg_desk@1x.jpg);
    }

        @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/backg/bg_desk@2x.jpg);
  }
}
}

@media screen and (min-width: 1200px) {
    .hero {
       padding-top: 187px;
       padding-bottom: 188px;
    }
}

.main-title {
    display: block;
    width: 320px;
    margin: auto;
    margin-bottom: 72px;
    color: var(--white-text);
    font-weight: 700;
    font-size: 36px;
    font-family: var(--main-font);
    line-height: 1.1;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .main-title {
        width: 496px;
        margin-bottom: 40px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1200px) {
    .main-title {
        width: 496px;
        margin-bottom: 48px;
        font-size: 56px;
        line-height: 1.07;
    }
}

.btn{
    display: block;
    margin: auto;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-brand);
    color: var(--white-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-text);
}

/* ABOUT SECTION */

.about {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .about {
    padding-top: 120px;
    padding-bottom: 120px;
}
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
   
}

@media screen and (min-width: 768px) {
   .about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}
}

@media screen and (min-width: 1200px) {
    .about-list {
        display: flex;
        gap: 24px;
}
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--light);
}

@media screen and (max-width: 1157px) {
    .feature {
        display: none;
    }
}

.caption {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 8px;
    color: var(--modal-overlay);
    font-weight: 700;
    font-size: 36px;
    font-family: var(--main-font);
    line-height: 1.1;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .caption {
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .caption {
        font-weight: 500;
font-size: 20px;
line-height: 24px;
    }
}

.text-item {
     width: 396px;
}

@media screen and (min-width: 768px) {
    .text-item {
     width: 356px;
}
}

@media screen and (min-width: 1200px) {
    .text-item {
     width: 264px;
}
}

.text {
    width: 396px;
    color: var(--text);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .text {
        width: 356px;
         
    }
}

@media screen and (min-width: 1200px) {
    .text {
width: 264px;
        font-weight: 400;
font-size: 16px;
line-height: 24px;
    }
}

/* WHAT ARE WE DOING SECTION */

@media screen and (max-width: 1157px) {
    .our-projects  {
        display: none;
    }
}
.our-projects {
    padding-bottom: 120px;
}
    
.heading {
    margin-bottom: 72px;
    color: var(--modal-overlay);
    font-weight: 700;
    font-size: 36px;
    font-family: var(--main-font);
    line-height: 1.11;
    text-align: center;
}

.projects-list {
    --items: 3;
    --indent: 20px;
}

/* TEAM SECTION */

.team {
    padding-top: 96px;
    padding-bottom: 128px;
    background: var(--light);
  
}

@media screen and (min-width: 768px) {
   .team {
    padding-top: 96px;
    padding-bottom: 104px;
}
}

@media screen and (min-width: 1200px) {
   .team {
    padding-top: 120px;
    padding-bottom: 120px;
}
}

.team-list {
    --items: 4;
}

.team-list{
    row-gap: 72px;
   
}

@media screen and (min-width: 768px) {
    .team-list{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
}

@media screen and (min-width: 1200px) {
   .team-list{
    gap: 24px;
}
}

.team-wrapper {
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-radius: 0px 0px 4px 4px;
    background: var(--background-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-item {
    width: 264px;
}

.text-center{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 1.2;
    text-align: center;
}

.text-center-two {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1.2;
    text-align: center;

}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--pressed-state);
}

.social-list-icon {
    fill: var(--light);
}

/* CUSTOMERS */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
}

.customers-heading{
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
   .customers-list {
    justify-content: center;
}
}

@media screen and (min-width: 1200px) {
    .customers-list {
      gap: 24px;
}
}

.customers-list-link {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    color: var(--subtle-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.customers-list-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon {
    fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
    border: 1px solid var(--pressed-state);
    color: var(--pressed-state);
}

/* FOOTER SECTION */

.footer-container {
    display: flex;
    
}

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--hero-background); 
}

@media screen and (min-width: 768px) {
    .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--hero-background);
    
}
}

@media screen and (min-width: 1200px) {
    .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--hero-background);
    
}
}

@media screen and (max-width: 1199px) {
    .footer-container {
    display: flex;
     flex-direction: column;
}
}

@media screen  and (min-width: 768px){
    .tab-wrap{
    display: flex;
    gap: 24px;
    padding-left: 108px;
}
}

@media screen and (min-width: 1200px) {
      .tab-wrap{
    gap: 120px;
    padding-left: 0;
}
}

.text-footer {
    display: inline-block;
}

@media screen and (min-width: 768px) {
.text-footer {
    width: 264px;
}
}

.logo-footer {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .logo-footer {
    justify-content: left;
}
}

.accent-logo-two {
    color: var(--light);
    
}

.light-text {
     width: 268px;
     margin-top: 16px;
     margin-right: 80px;
     margin-bottom: 72px;
     margin-left: 80px;
     color: var(--accent);
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
    
}

@media screen and (min-width: 768px) {
    .light-text {
      margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
     .light-text {
       margin-bottom: 0px;
    }
}

.media-footer {
    margin-bottom: 72px;
    text-align: center;
}

.social-text {
    margin-bottom: 16px;
    color: var(--white-text);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
}

@media screen  and (min-width: 768px){
    .social-text{
    text-align: justify;
}
}

.media-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.media-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-list-link:hover,
.media-list-link:focus {
    background-color: var(--success);
}

.media-list-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.media-list-icon {
    fill: var(--light);
}

@media screen and (min-width: 768px) {
    .sub-section {
    padding-left: 108px;
}
}

@media screen and (min-width: 1200px) {
    .sub-section {
    padding-left: 80px;
}
}

.modal-sub-text {
    margin-bottom: 16px;
    color: var(--white-text);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal-sub-text  {
        text-align: justify;
    }
}

.modal-sub {
    display: flex;
    flex-direction: column;
   
}

@media screen and (min-width: 768px) {
   .modal-sub {
    flex-direction: row;
    align-items: center;
}
}

.modal-sub-field {
     margin-bottom: 16px;
}

.modal-sub-input {
    width: 398px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2E2F42;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-sub-input:focus {
    border-color: var(--primary-brand);
    outline: none;
}

.modal-sub-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 2;
}

@media screen and (min-width: 768px) {
   .modal-sub-input {
        width: 264px;
    }
}

.modal-sub-btn {
    display: flex;
    min-width: 165px;
    min-height: 40px;
    margin: auto;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 24px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-brand);
    color: var(--white-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal-sub-btn:hover,
.modal-sub-btn:focus {
    background-color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
  .modal-sub-btn {
        margin-bottom: 16px;
        margin-left: 24px;
    }
}

.modal-btn-icon {
    margin-left: 16px;
}

/* PORTFOLIO */

/* FILTERS */

.filters {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
   .filters {
    padding-top: 64px;
    padding-bottom: 96px;
}
}

@media screen and (min-width: 1200px) {
   .filters {
    padding-top: 96px;
    padding-bottom: 120px;
}
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    justify-content: center;
    justify-content: flex-start;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .btn-list {
        gap: 24px;
        justify-content: center;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1200px) {
     .btn-list {
        margin-bottom: 72px;
    }
}

.button {
    padding: 12px 24px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    background: var(--light);
    color: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    border: var(--pressed-state);
    background-color: var(--pressed-state);
    color: var(--white-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12)
}

.portfolio-list {
    --indent: 48px 24px;
    --items: 3;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    --indent: 72px 24px;
    justify-content: flex-start;
}
}

@media screen and (min-width: 1200px) {
   .portfolio-list {
    --indent: 48px 24px;
}
}

.img-item {
    width: 396px;
}

@media screen and (min-width: 768px) {
   .img-item {
    width: 356px;
}
}

@media screen and (min-width: 1200px) {
    .img-item {
    width: 360px;
}
}

.portfolio-link {
    display: block;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translate(0, 0);
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 164px;
    padding-left: 32px;
    background-color: var(--primary-brand);
    color: var(--light);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0, 100%);
}

.portfolio-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--accent);
    background: var(--background-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.port-cap {
    justify-content: flex-start;
    font-weight: 500;
    font-size: 20px;
}

.port-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
/* MODAL WINDOW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--white-text);
}
 
.modal-text {
    display: block;
    margin-bottom: 16px;
    color: var(--modal-overlay);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    text-align: center;
}

/* MODAL FORM */

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-input-desc {
    display: block;
    margin-bottom: 4px;
    color: var(--subtle-text);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 1.3;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: var(--primary-brand);
    outline: none;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    display: block;
    width: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0, -50%);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--primary-brand);
}

.modal-form-message {
    width: 100%;
    height: 120px;
    margin-bottom: 8px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    border-color: var(--primary-brand);
    outline: none;
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 1.3;
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    color: #757575;
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 1.3;
}

.modal-form-check-desc::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;  
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal-form-check:checked + .modal-form-check-desc::before {
    border: 1.25px solid var(--pressed-state);
    background-color: var(--pressed-state);
    background-image: url(../images/checkbox.png);
    background-position: 2px;
    background-repeat: no-repeat;
}

.policy-href {
    color: var(--primary-brand);
    text-decoration-line: underline;
}

.modal-form-submit {
    min-width: 169px;
    min-height: 56px;
    margin: auto;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-brand);
    color: var(--white-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--pressed-state);
}

/* Mobile */

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--background-white);
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--background-white);
}

.js-close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu:hover,
.js-close-menu:focus {
   background-color: var(--pressed-state)
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-white);
  transition: transform 250ms ease-in-out;

  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-top: 80px;
  padding-left: 40px;
}

.mobile-menu .link {
    position: relative;
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    font-family: var(--main-font);
    line-height: 1.1;
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
    color: var(--pressed-state);
}

.mobile-wrap-menu {
    margin-top: auto;
}

.contact-mob--menu {
    display: flex;  
    flex-direction: column;
    gap: 40px;
    padding-left: 40px;
}

.phone-menu {
    color: var(--text);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
}

.phone-menu:hover,
.phone-menu:focus {
    color: var(--primary-brand);
}

.mail-menu {
    color: var(--text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
} 

.mobile-list {
    gap: 56px;
    justify-content: left;
    margin-top: 48px;
    margin-bottom: 40px;
    padding-left: 40px;
}